<launch>
    <!-- Start the rosserial_python node to establish a connection with Arduino -->
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen" args="/dev/ttyACM0" />
 
    <!-- Start the Raspberry Pi node -->
    <node name="pi_node" pkg="checkpoint2" type="pi_node_cp2.py" output="screen" />
</launch>
